body {
  background-image: linear-gradient(
      rgba(4, 3, 80, 0.151),
      rgba(4, 3, 80, 0.151)
    ),
    url("/public/Fondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #212529;
  min-height: 100vh;
}

.navbar-custom-blue {
  background-color: #2a3b4f; 
}

.login-card-custom {
  background-color: #2a3b4f;
}
