body {
  background-image: linear-gradient(
      rgba(4, 3, 80, 0.151),
      rgba(4, 3, 80, 0.151)
    ),
    url("/public/Fondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #212529;
  min-height: 100vh;
}

.navbar-custom-blue {
  background-color: #2a3b4f;
  padding: 1.5rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem; 
}

.login-card-custom {
  background-color: #2a3b4f;
}

/* Contenedor de información reutilizable */
.info-container {
  background-color: #2a3b4f;
  color: white;
  padding: 1.5rem; 
  border-radius: 0.2rem; 
  margin-top: 0.2rem ; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}